.product-banner {
    margin-top: 150px;
    padding-bottom: 15px;
    color: $main-color;
    .section-subtitle {
        margin-bottom: 40px;
        &:before,
        &:after {
            @extend .section-title-line;
            width: 280px;
        }
    }
    .product-banner-img {
        width: 100%;
    }
    &.grilla-title {
        .section-subtitle {
            margin-bottom: 40px;
            &:before,
            &:after {
                @extend .section-title-line;
                width: 210px;
                margin: 0 10px;
            }
        }
    }
}

.product-area {
    margin-bottom: 20px;
    .salud-area,
    .industrial-area {
        background-color: $gray-color;
        color: $main-color;
        border-right: 5px solid #FFF;
        .area-img {
            margin-bottom: 20px;
            margin: 20px 50px;
            width: 30%;
        }
        .section-subtitle {
            margin-bottom: 20px;
        }
        &:hover {
            background-color: $hover-color;
            color: $white-color;
        }
    }
    .industrial-area {
        border-right: 0;
        border-left: 5px solid #FFF;
    }
}

.mobile,
.salud-area-extra,
.industrial-area-extra {
    margin-bottom: 40px;
    display: none;
    .indumentaria,
    .kits,
    .panios,
    .descartable,
    .tela,
    .guantes,
    .seguridad {
        background-color: $gray-color;
        color: $main-color;
        border-right: 5px solid #FFF;
        padding: 25px;
        height: 100px;
        margin-bottom: 10px;
        .section-subtitle {
            font-size: 24px;
        }
        &:hover {
            background-color: $hover-color;
            color: $white-color;
            text-decoration: none;
        }
    }
    .kits {
        padding: 35px;
    }
}

.grilla {
    margin-top: 30px;
    .producto {
        position: relative;
        overflow: hidden;
        height: 280px;
        margin-bottom: 15px;
        .producto-img {
            width: 100%;
            height: 100%;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .producto-img-desc {
            @extend .transitionstd;
            background: $main-color;
            color: $white-color;
            position: absolute;
            width: 98%;
            height: 100%;
            top: 0;
            opacity: .5;
            .section-subtitle {
                position: relative;
                top: 40%;
                left: 0px;
                font-size: 22px;
                font-weight: 100;
                padding: 0 20px;
            }
        }
        &:hover {
            .producto-img-desc {
                opacity: .9;
                h3 {
                    font-weight: $font-semibold;
                }
            }
        }
    }
}