#contact {
    margin-top: 180px;
    padding: 0;
    background-color: $section-color;
    .banner-section {
        padding: 0;
    }
    .form-section {
        padding: 65px;
        .form-group {
            margin-bottom: 40px;
            label {
                margin-bottom: 20px;
            }
            input,
            textarea {
                background-color: #ececec;
                border-color: #3581B9;
                border-radius: 0;
            }
        }
    }
}

#find-us {
    margin: 45px 0;
    .section-title {
        &:before,
        &:after {
            @extend .section-title-line;
            width: 420px;
            margin: 0 10px;
        }
    }
    iframe {
        margin: 30px 0;
    }
}