.navbar {
    &.navbar-default {
        position: absolute;
        top: 30px;
        width: 100%;
        height: 80px;
        z-index: 1000;
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 3px 15px 0px #afafaf;
        .navbar-header {
            .navbar-brand {
                .logo {
                    width: 150px;
                }
            }
        }
        .navbar-nav {
            margin-top: 20px;
            li {
                margin: 0 15px;
                a {
                    padding: 10px;
                    color: $black-color;
                    font-weight: $font-light;
                    &:hover {
                        //font-weight: $font-bold;
                        color: $main-color;
                    }
                }
                &:after {
                    position: absolute;
                    top: 13px;
                    right: -20px;
                    content: url(../assets/bullet-menu.svg);
                    width: 12px;
                }
                &:last-child:after {
                    content: "";
                }
            }
        }
    }
}

.page-content {
    #about-us {
        background-color: $section-color;
        position: relative;
        .about-desc {
            line-height: 1.5em;
            font-weight: $font-light;
            p {
                margin-bottom: 15px;
            }
        }
        .btn-dimex {
            position: absolute;
            bottom: -25px;
            left: 40%;
            &:hover,
            &:visited {
                color: $white-color;
            }
        }
    }
    #our-products {
        padding-top: 100px;
        .section-title {
            &:before,
            &:after {
                @extend .section-title-line;
                width: 170px;
            }
            &:before {
                margin-right: 20px;
            }
            &:after {
                margin-left: 20px;
            }
        }
        .product-area {
            margin: 25px 0 15px 0;
            .salud-area,
            .industrial-area {
                background-color: #d1d1d1;
                color: $main-color;
                margin-right: 10px;
                margin-left: 45px;
                .area-img {
                    margin-bottom: 20px;
                    margin: 50px 50px 15px 50px;
                    width: 33%;
                }
                .section-subtitle {
                    margin-bottom: 40px;
                }
                .area-img {
                    &.second {
                        display: none;
                    }
                }
            }
            .salud-area,
            .industrial-area {
                &:hover {
                    background-color: $hover-color;
                    color: $white-color;
                    text-decoration: none;
                    .area-img {
                        display: none;
                        &.second {
                            display: inline-block;
                        }
                    }
                }
            }
            .salud-area {
                padding: 7px;
            }
        }
    }
}

#footer {
    background-color: $main-color;
    color: $white-color;
    font-size: 12px;
    font-weight: $font-light;
    overflow: auto;
    section {
        padding: 20px 70px;
        h5,
        p,
        a {
            float: left;
            margin: 0 10px;
        }
        a {
            color: $white-color;
            &:hover {
                color: $white-color;
                text-decoration: none;
            }
        }
    }
}