// Fonts
$main-font: 'Muli';
$second-font: 'Raleway';
// Fonts Weight
$font-light: 200;
$font-semibold: 400;
$font-bold: 700;
// Colors
$main-color: #0267A9;
$blue-color: #3581B9;
$black-color: #000;
$white-color: #fff;
$section-color: #ECECEC;
// Titles
$section-title: 32px;
$section-subtitle: 28px;